# ロジスティック回帰による分類予測
- bank-fullのy列（定期預金を申し込んだか否か）について分類予測する
- 特徴量は簡単のため、数値の列と文字列の"default"列のみ使用する
- 数値の列は標準化を行う
- 文字列の列はインデックス化する
- 精度評価として混同行列とAUCを計算する

In [1]:
import numpy as np
import pandas as pd

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("logistic_regression").getOrCreate()

In [3]:
filename = "./data/bank/bank-full.csv"
data = spark.read.csv(filename, header=True, inferSchema=True, sep=';')
data.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [4]:
data.dtypes

[('age', 'int'),
 ('job', 'string'),
 ('marital', 'string'),
 ('education', 'string'),
 ('default', 'string'),
 ('balance', 'int'),
 ('housing', 'string'),
 ('loan', 'string'),
 ('contact', 'string'),
 ('day', 'int'),
 ('month', 'string'),
 ('duration', 'int'),
 ('campaign', 'int'),
 ('pdays', 'int'),
 ('previous', 'int'),
 ('poutcome', 'string'),
 ('y', 'string')]

In [5]:
#目的変数の作成 yes:1, no:0
from pyspark.sql.functions import lit, when, col
data1 = data.withColumn("y1", when(col("y")=="yes", lit(1.0)).otherwise(lit(0.0)))
data1.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y| y1|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|0.0|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|0.0|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|0.0|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|0.0|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|0.0|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|0.0|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|0.0|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|0.0|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|0.0|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|0.0|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|0.0|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|0.0|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|0.0|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|0.0|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|0.0|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|0.0|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|0.0|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|0.0|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|0.0|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|0.0|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
only showing top 20 rows

In [6]:
# Stringの処理 (default)
from pyspark.ml.feature import StringIndexer
default_index = StringIndexer(inputCol="default", outputCol="default_index")

In [8]:
# assemble
from pyspark.ml.feature import VectorAssembler
assemble = VectorAssembler(inputCols=["age","balance", "duration", "campaign", "previous", "default_index"]
                          , outputCol="features")

In [10]:
#標準化
from pyspark.ml.feature import StandardScaler
scaler = StandardScaler(inputCol="features", outputCol="scaled_features")

In [11]:
#ロジスティック回帰
from pyspark.ml.classification import LogisticRegression
logistic_regression = LogisticRegression(featuresCol="scaled_features", labelCol="y1")

In [12]:
# パイプラインの登録
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[default_index, assemble, scaler, logistic_regression])

In [13]:
df = data1.select("age","balance", "duration", "campaign", "previous", "default","y", "y1")

In [14]:
#訓練データとテストデータを分ける
train_df, test_df = df.randomSplit([0.7, 0.3], seed=1234)

In [15]:
#訓練データによるモデリング
fit_model = pipeline.fit(train_df)

In [16]:
#モデリング結果の確認
fit_model.stages[3].coefficients

DenseVector([0.0461, 0.1101, 0.9227, -0.4444, 0.2843, -0.0603])

In [17]:
fit_model.stages[3].intercept

-3.235967044154464

In [18]:
#訓練データを使って推論
pred_train = fit_model.transform(train_df)

In [19]:
pred_train.show()

+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
|age|balance|duration|campaign|previous|default|  y| y1|default_index|            features|     scaled_features|       rawPrediction|         probability|prediction|
+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
| 18|     35|     104|       2|       0|     no| no|0.0|          0.0|[18.0,35.0,104.0,...|[1.69579509967235...|[3.06350348098030...|[0.95536194323606...|       0.0|
| 18|    108|      92|       1|       1|     no|yes|1.0|          0.0|[18.0,108.0,92.0,...|[1.69579509967235...|[2.81052152711537...|[0.94324174651528...|       0.0|
| 18|    108|     169|       1|       0|     no|yes|1.0|          0.0|[18.0,108.0,169.0...|[1.69579509967235...|[2.68263210486711...|[0.93599399206992...|       0.0|
| 18|    156|     298|       2|       4|     no| no|0.0|          0.0|[18.0,156.0,298.0...|[1.69579509967235...|[1.74813118391871...|[0.85171693457435...|       0.0|
| 18|    348|     443|       4|       0|     no|yes|1.0|          0.0|[18.0,348.0,443.0...|[1.69579509967235...|[2.10596186036869...|[0.89148129105415...|       0.0|
| 18|    438|     425|       1|       0|     no| no|0.0|          0.0|[18.0,438.0,425.0...|[1.69579509967235...|[1.74131428987996...|[0.85085392777459...|       0.0|
| 18|    608|     210|       1|       1|     no|yes|1.0|          0.0|[18.0,608.0,210.0...|[1.69579509967235...|[2.36411177360818...|[0.91404938963609...|       0.0|
| 18|    608|     267|       1|       0|     no|yes|1.0|          0.0|[18.0,608.0,267.0...|[1.69579509967235...|[2.30883490218773...|[0.90960610335261...|       0.0|
| 18|   1944|     122|       3|       0|     no| no|0.0|          0.0|[18.0,1944.0,122....|[1.69579509967235...|[3.07169780199595...|[0.95571009312995...|       0.0|
| 19|      0|      72|       4|       0|     no| no|0.0|          0.0|[19.0,0.0,72.0,4....|[1.79000593854304...|[3.46110940872370...|[0.96956072547184...|       0.0|
| 19|      0|     123|       3|       0|     no| no|0.0|          0.0|[19.0,0.0,123.0,3...|[1.79000593854304...|[3.13369419091894...|[0.95826139800661...|       0.0|
| 19|      4|     114|       1|       0|     no| no|0.0|          0.0|[19.0,4.0,114.0,1...|[1.79000593854304...|[2.88171944677475...|[0.94693533018398...|       0.0|
| 19|     27|      86|      12|       0|     no| no|0.0|          0.0|[19.0,27.0,86.0,1...|[1.79000593854304...|[4.54733456069946...|[0.98951567747997...|       0.0|
| 19|     55|      89|       2|       1|     no| no|0.0|          0.0|[19.0,55.0,89.0,2...|[1.79000593854304...|[2.96123388829502...|[0.95079175571351...|       0.0|
| 19|     56|     246|       1|       0|     no| no|0.0|          0.0|[19.0,56.0,246.0,...|[1.79000593854304...|[2.40060505813445...|[0.91687343057867...|       0.0|
| 19|     60|     253|       1|       0|     no| no|0.0|          0.0|[19.0,60.0,253.0,...|[1.79000593854304...|[2.37504669971573...|[0.91490459083152...|       0.0|
| 19|     88|     191|       1|       0|     no| no|0.0|          0.0|[19.0,88.0,191.0,...|[1.79000593854304...|[2.59913784787902...|[0.93080607239677...|       0.0|
| 19|     96|     106|       3|       0|     no| no|0.0|          0.0|[19.0,96.0,106.0,...|[1.79000593854304...|[3.19195968402693...|[0.96053058225962...|       0.0|
| 19|    103|     104|       2|       0|     no|yes|1.0|          0.0|[19.0,103.0,104.0...|[1.79000593854304...|[3.05671578606513...|[0.95507158223834...|       0.0|
| 19|    103|     177|       2|       4|     no| no|0.0|          0.0|[19.0,103.0,177.0...|[1.79000593854304...|[2.18500438178853...|[0.89889479382008...|       0.0|
+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [20]:
pred_train.select("rawPrediction", "probability").show(truncate=False)

+----------------------------------------+-----------------------------------------+
|rawPrediction                           |probability                              |
+----------------------------------------+-----------------------------------------+
|[3.0635034809803074,-3.0635034809803074]|[0.9553619432360639,0.04463805676393606] |
|[2.81052152711537,-2.81052152711537]    |[0.9432417465152872,0.05675825348471275] |
|[2.682632104867112,-2.682632104867112]  |[0.9359939920699278,0.06400600793007216] |
|[1.748131183918711,-1.748131183918711]  |[0.8517169345743544,0.14828306542564562] |
|[2.1059618603686925,-2.1059618603686925]|[0.8914812910541506,0.10851870894584936] |
|[1.7413142898799685,-1.7413142898799685]|[0.8508539277745946,0.14914607222540543] |
|[2.364111773608189,-2.364111773608189]  |[0.9140493896360997,0.08595061036390028] |
|[2.3088349021877326,-2.3088349021877326]|[0.90960610335261,0.09039389664738995]   |
|[3.071697801995959,-3.071697801995959]  |[0.9557100931299582,0.04428990687004175] |
|[3.4611094087237033,-3.4611094087237033]|[0.9695607254718406,0.03043927452815942] |
|[3.133694190918949,-3.133694190918949]  |[0.9582613980066159,0.041738601993384083]|
|[2.8817194467747553,-2.8817194467747553]|[0.9469353301839817,0.05306466981601832] |
|[4.547334560699468,-4.547334560699468]  |[0.9895156774799746,0.010484322520025402]|
|[2.961233888295027,-2.961233888295027]  |[0.9507917557135181,0.04920824428648185] |
|[2.400605058134455,-2.400605058134455]  |[0.9168734305786728,0.08312656942132723] |
|[2.3750466997157393,-2.3750466997157393]|[0.9149045908315255,0.08509540916847447] |
|[2.599137847879029,-2.599137847879029]  |[0.9308060723967717,0.06919392760322829] |
|[3.1919596840269358,-3.1919596840269358]|[0.9605305822596246,0.03946941774037538] |
|[3.056715786065132,-3.056715786065132]  |[0.9550715822383453,0.04492841776165468] |
|[2.185004381788539,-2.185004381788539]  |[0.8988947938200816,0.10110520617991836] |
+----------------------------------------+-----------------------------------------+
only showing top 20 rows

In [24]:
z = np.array([3.0635034809803074,-3.0635034809803074])
q = 1 / (1 + np.exp(-z))
print(q)

[0.95536194 0.04463806]

In [25]:
#精度評価（訓練データ）AUCの算出
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator(labelCol = "y1")
AUC = evaluator.evaluate(pred_train)
print(AUC)

0.8331547859811365

テストデータ

In [27]:
test_df.show()

+---+-------+--------+--------+--------+-------+---+---+
|age|balance|duration|campaign|previous|default|  y| y1|
+---+-------+--------+--------+--------+-------+---+---+
| 18|      3|     130|       2|       0|     no|yes|1.0|
| 18|      5|     143|       2|       0|     no| no|0.0|
| 18|    108|     167|       1|       0|     no|yes|1.0|
| 19|    103|      96|       2|       2|     no| no|0.0|
| 19|    108|     168|       1|       2|     no|yes|1.0|
| 19|    108|     273|       2|       1|     no|yes|1.0|
| 19|    134|     271|       2|       0|     no|yes|1.0|
| 19|    179|      62|       3|       0|     no| no|0.0|
| 19|    291|     291|       5|       0|     no| no|0.0|
| 19|    329|     169|       1|       2|     no|yes|1.0|
| 19|    329|     252|       2|       0|     no|yes|1.0|
| 19|    526|     122|       3|       0|     no| no|0.0|
| 19|   1803|     124|       1|       1|     no| no|0.0|
| 20|   -322|      73|       4|       0|     no| no|0.0|
| 20|     29|      85|       2|       0|     no| no|0.0|
| 20|     76|     639|       2|       0|     no|yes|1.0|
| 20|     79|     168|       3|       0|     no| no|0.0|
| 20|     88|     621|       1|       4|     no| no|0.0|
| 20|    153|     100|       1|       0|     no|yes|1.0|
| 20|    162|     106|       2|       0|     no| no|0.0|
+---+-------+--------+--------+--------+-------+---+---+
only showing top 20 rows

In [28]:
test_df.count()

13562

In [29]:
#テストデータの推論
pred_test = fit_model.transform(test_df)

In [30]:
pred_test.show()

+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
|age|balance|duration|campaign|previous|default|  y| y1|default_index|            features|     scaled_features|       rawPrediction|         probability|prediction|
+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
| 18|      3|     130|       2|       0|     no|yes|1.0|          0.0|[18.0,3.0,130.0,2...|[1.69579509967235...|[2.97025888993604...|[0.95121229283086...|       0.0|
| 18|      5|     143|       2|       0|     no| no|0.0|          0.0|[18.0,5.0,143.0,2...|[1.69579509967235...|[2.92298874908348...|[0.94897122314169...|       0.0|
| 18|    108|     167|       1|       0|     no|yes|1.0|          0.0|[18.0,108.0,167.0...|[1.69579509967235...|[2.68989335994989...|[0.93642763358003...|       0.0|
| 19|    103|      96|       2|       2|     no| no|0.0|          0.0|[19.0,103.0,96.0,...|[1.79000593854304...|[2.78242300951869...|[0.94171857303437...|       0.0|
| 19|    108|     168|       1|       2|     no|yes|1.0|          0.0|[19.0,108.0,168.0...|[1.79000593854304...|[2.37858465630851...|[0.91517963151963...|       0.0|
| 19|    108|     273|       2|       1|     no|yes|1.0|          0.0|[19.0,108.0,273.0...|[1.79000593854304...|[2.29129087609519...|[0.90815318005652...|       0.0|
| 19|    134|     271|       2|       0|     no|yes|1.0|          0.0|[19.0,134.0,271.0...|[1.79000593854304...|[2.44928525302835...|[0.92050916703822...|       0.0|
| 19|    179|      62|       3|       0|     no| no|0.0|          0.0|[19.0,179.0,62.0,...|[1.79000593854304...|[3.34872000904665...|[0.96606289588002...|       0.0|
| 19|    291|     291|       5|       0|     no| no|0.0|          0.0|[19.0,291.0,291.0...|[1.79000593854304...|[2.79778169084445...|[0.94255583307541...|       0.0|
| 19|    329|     169|       1|       2|     no|yes|1.0|          0.0|[19.0,329.0,169.0...|[1.79000593854304...|[2.36699992776569...|[0.91427602081666...|       0.0|
| 19|    329|     252|       2|       0|     no|yes|1.0|          0.0|[19.0,329.0,252.0...|[1.79000593854304...|[2.51124885190173...|[0.92492665350219...|       0.0|
| 19|    526|     122|       3|       0|     no| no|0.0|          0.0|[19.0,526.0,122.0...|[1.79000593854304...|[3.11839333824878...|[0.95764510831862...|       0.0|
| 19|   1803|     124|       1|       1|     no| no|0.0|          0.0|[19.0,1803.0,124....|[1.79000593854304...|[2.62899573128598...|[0.93270454208469...|       0.0|
| 20|   -322|      73|       4|       0|     no| no|0.0|          0.0|[20.0,-322.0,73.0...|[1.88421677741372...|[3.46472773509319...|[0.96966733090179...|       0.0|
| 20|     29|      85|       2|       0|     no| no|0.0|          0.0|[20.0,29.0,85.0,2...|[1.88421677741372...|[3.12402079426534...|[0.95787277637587...|       0.0|
| 20|     76|     639|       2|       0|     no|yes|1.0|          0.0|[20.0,76.0,639.0,...|[1.88421677741372...|[1.11096154019465...|[0.75230832879230...|       0.0|
| 20|     79|     168|       3|       0|     no| no|0.0|          0.0|[20.0,79.0,168.0,...|[1.88421677741372...|[2.96313235116151...|[0.95088050272527...|       0.0|
| 20|     88|     621|       1|       4|     no| no|0.0|          0.0|[20.0,88.0,621.0,...|[1.88421677741372...|[0.42695213210374...|[0.60514563135520...|       0.0|
| 20|    153|     100|       1|       0|     no|yes|1.0|          0.0|[20.0,153.0,100.0...|[1.88421677741372...|[2.92284523345209...|[0.94896427297227...|       0.0|
| 20|    162|     106|       2|       0|     no| no|0.0|          0.0|[20.0,162.0,106.0...|[1.88421677741372...|[3.04299075873239...|[0.95447895111128...|       0.0|
+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [31]:
#精度評価（訓練データ）AUCの算出
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator(labelCol = "y1")
AUC = evaluator.evaluate(pred_test)
print(AUC)

0.8321723113642512

混同行列

In [32]:
from sklearn.metrics import confusion_matrix
y_true = pred_test.select("y1")
y_true = y_true.toPandas()
y_true

        y1
0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
...    ...
13557  0.0
13558  1.0
13559  1.0
13560  0.0
13561  0.0

[13562 rows x 1 columns]

In [33]:
y_pred = pred_test.select("prediction")
y_pred = y_pred.toPandas()
y_pred

       prediction
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
...           ...
13557         0.0
13558         1.0
13559         1.0
13560         0.0
13561         0.0

[13562 rows x 1 columns]

In [35]:
class_name = [0, 1]
cnf_matrix = confusion_matrix(y_true, y_pred, labels=class_name)
cnf_matrix

array([[11749,   214],
       [ 1304,   295]])

In [36]:
tn, fp, fn, tp = cnf_matrix.flatten()
print(tn, fp, fn, tp)

11749 214 1304 295

In [37]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print("accuracy:{}".format(accuracy_score(y_true, y_pred)))

accuracy:0.8880696062527651

In [38]:
print("precision:{}".format(precision_score(y_true, y_pred)))
print("recall:{}".format(recall_score(y_true, y_pred)))
print("f1:{}".format(f1_score(y_true, y_pred)))

precision:0.5795677799607073
recall:0.18449030644152595
f1:0.27988614800759015